.main {
  display: block;
}
.container {
  width: 80%;
  margin: auto;
}
.content {
  display: block;
  margin-top: 50px;
  margin-bottom: 50px;
}

.bg-nav,
.bg-foot {
  background-color: #eee;
}
p {
  margin-top: 4px;
  letter-spacing: 0.1em;
  font-family: sans-serif;
}
img {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  color: #000000;
}
a {
  font-family: Arial, Helvetica, sans-serif;
}
@media screen and (max-width: 1200px) {
  .main {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .main {
    width: 60%;
    margin: 0 auto;
  }
}
