.category {
  display: block;
  text-align: center;
}
.category-desc {
  padding: 24px;
}
.category-cards {
  display: grid;
  min-height: 100vh;
  grid-template-rows: repeat(3, 33.33%);
  grid-template-columns: 1fr;
}
