.footer {
  width: 100%;
  height: 50px;
  left: 0;
  bottom: 0;
  padding: 8px 0;
  background-color: #eee;
  position: fixed;
  text-align: center;
}
.social-icon-group {
  display: inline-flex;
  width: 100px;
  align-items: center;
  justify-content: space-around;
  /* margin-top: 8px; */
}
.social-icon {
  width: 24px;
  height: 24px;
  padding: 4px;
}
