.hero {
  position: relative;
  height: calc(100vh - 50px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.hero-image {
  display: block;
  width: 100%;
  height: calc(100vh - 50px);
  left: 0;
  object-fit: cover;
  position: absolute;
  opacity: 0.65;
  top: 0;
  z-index: 1;
}
.hero-text {
  display: inline-block;
  padding: 24px;
  margin: 0 auto;
  text-align: center;
  z-index: 1000;
}
.hero-text .restaurant-name {
  font-size: 38px;
}
.hero-text .slogan {
  font-size: 24px;
}

/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {
}

/* Larger than phablet */
@media (max-width: 550px) {
}

/* Larger than tablet */
@media (min-width: 750px) {
}

/* Larger than desktop */
@media (min-width: 1000px) {
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
}
