.hero {
  position: relative;
  height: calc(100vh - 50px);
  /* height: 100vh; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.hero-image {
  display: block;
  width: 100%;
  height: calc(100vh - 50px);
  left: 0;
  object-fit: cover;
  position: absolute;
  opacity: 0.65;
  top: 0;
  z-index: 1;
}
.hero-text {
  display: inline-block;
  padding: 24px;
  margin: 0 auto;
  text-align: center;
  z-index: 1000;
}
.hero-text .restaurant-name {
  font-size: 38px;
}
.hero-text .slogan {
  font-size: 24px;
}
