.nav-bar {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-color: #eee;
}
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}
.logo {
  width: 36px;
  height: auto;
}
.navbar-items {
  display: flex;
  justify-content: flex-end;
  padding: 8px 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul li a {
  text-decoration: none;
  color: #000000;
  padding: 10px 20px;
  font-weight: bold;
}

a:link {
  text-decoration: none;
}
a:hover {
  color: #5f8e44;
}
a:active {
  color: #0f0c05;
}

/* Mobile first queries */

/* Larger than mobile */
@media (max-width: 400px) {
  a {
    font-size: 8px;
  }
  .logo {
    width: 12px;
  }
}

/* Larger than phablet */
@media (max-width: 550px) {
  a {
    font-size: 10px;
  }
  .logo {
    width: 16px;
  }
  ul li a {
    text-decoration: none;
    color: #000000;
    padding: 2px 4px;
    font-weight: bold;
  }
  .nav-bar {
    margin: 0 auto;
  }
  .navbar-items {
    display: flex;
    justify-content: flex-start;
    padding: 8px 0;
  }
  .nav-container {
    width: 60%;
  }
}
