.product-card {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: min-content;
  margin: 0;
  padding: 16px;
}
.product-card-title {
  font-weight: bolder;
  text-transform: uppercase;
}
.product-card-img {
  max-width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}
.product-card-info {
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  padding: 0 48px;
}
.product-card-desc {
  text-align: start;
}
@media (max-width: 550px) {
  .product-card {
    display: flex;
    flex-direction: column;
  }
}
